<!DOCTYPE html>
<html>
    <head>
        <title> {{ title }} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='webapp.css') }}">
    </head>

    <body>
        <p id="center">
            <ul>
                {% for message in get_flashed_messages() %}
                    <li id="center" class="flash">{{ message }}</li>
                {% endfor %}
            </ul>
        </p>

       {% block the_body %}
       {% endblock %}

        <hr/>

        <div id="center">
            <a class="button" href="/startgame">Play Again?</a>
        </div>

    </body>
</html>