{% extends "base.html" %}

{% block the_body %}

    <h3>GAME OVER</h3>
    <h2>{{ state }}</h2>

    <hr/>

    <div id="center">
        <table>
            <tr>
                <th>Users</td>
                <th>Score</td>
                <th>Wins</td>
                <th>Loss</td>
            </tr>
        {%for r in leader%}
            <tr>
                <td>{{ r[0] }}</td>
                <td>{{ r[1] }}</td>
                <td>{{ r[2] }}</td>
                <td>{{ r[3] }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
