{% extends "base.html" %}

<link rel="stylesheet" href="static/webapp.css">

{% block the_body %}
    
    <h2>Do you have a {{ value }}</h2>

    <div id="cards">
    {% for card in cards %}
        
        <a class="cards" href="/pick/{{ card[: card.find("_")] }}"><img src="/static/cards/{{ card }}" style="width:10%; height:10%;"></a>
    {% endfor %}
    </div>

    <div id="center">
        <a class="button" href="/pick/0">No, I don't have a {{ value }}</a>
    </div>

    <div id="center">
        {% for r in leader %}
            <h3>{{ r }}</h3>
        {% endfor %}
    </div>

{% endblock %}